html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
}

#app {
    display: flex;
    height: 100%;
    flex-direction: row;
}

h1 {
    text-align: center;
}

#app > div.container {
    max-width: 50%;
    width: 50%;
}

#col-1 {
    display: flex;
    flex-direction: column;
}

#description {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#col-2 {
    display: flex;
    flex-direction: column;
}

#col-2 > div.container {
    max-height: 50%;
    height: 50%;
}

.line {
    background-color: black;
}

.line.vertical {
    width: 10px;
}

.line.horizontal {
    height: 10px;
}

.selected {
    color: red;
    font-weight: bold;
}